.row{
  cursor: pointer;
  background-color: white;

  transition: all 0.3s;
  &:hover{
    background-color: rgb(208, 255, 208);
  }

  &.row_selected{
    background-color: palegreen;

    & .ant-table-cell-row-hover{
      background-color: rgb(208, 255, 208);
    }
  }

}